/* .myHero {
    background-image: url("../images/space.jpg");
    background-position: center;
} */

.myPic {
    /* background-image: url("../images/self.jpg"); */
    max-width: 240px;
    max-height: 400px;
    border-radius: 10px;
}

.mainCard {
    
}