* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #767676;
    font-family: Helvetica, Arial, sans-serif;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #767676;
    width: 100%;
    border-bottom: 2px solid skyblue;
}
header h1 {
    color: skyblue;
    margin: 0;
    padding: 25px;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.35);
    border-right: 5px solid skyblue;
}
header a {
    text-decoration: none;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px;
    list-style: none;
}
header nav ul li a {
    margin: 3px;
    padding: 7px;
    background-color: rgba(135, 206, 235, 0.7);
    color: #767676;
    border-radius: 10px;
    font-size: 32px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
}
header nav ul li a:hover {
    background-color: skyblue;
}

/* Hero Styling */
.hero {
    background-image: url("../images/space.jpg");
    background-position: center;
    height: 400px;
    border-bottom: 2px solid skyblue;
}

/* Main content styling */
.main-body *{
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
}
.section-title {
    padding: 50px 15px;
    color: skyblue;
    background: rgba(118, 118, 118, 0.8);
    margin: 25px 0 auto 0;
    width: 250px;
    font-size: 36px;
    font-style: italic;
    align-items: center;
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.35);
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.5);
    border-right: 5px solid skyblue;
    border-radius: 0 25px 25px 0;
}
.last-section-title{
    margin-bottom: 100px;
}
.content-back {
    width: auto;
    margin: 10px 0 0 10px;
    border-left: 2px solid skyblue;
    border-bottom: 2px solid #767676;
    flex: 1;
    flex-flow: wrap;
    justify-content: left space-evenly;
}
.last-content-back {
    border-bottom: none;
}

/* About Me Styling */
.about-me img {
    max-height: 400px;
    border-radius: 15px;
    margin: 15px 20px;
    border: 2px solid skyblue;
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.5);
}
.about-me p {
    width: 640px;
    margin: 15px 0 15px 10px;
    padding: 5px;
    line-height: 1.5;
    border: 2px solid skyblue;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.5);
    background: rgba(118, 118, 118, 0.8);
    color: white;
}

/* Projects Styling */
.projects a {
    text-decoration: none;
}
.projects h3 {
    background-color: rgba(135, 206, 235, 0.7);
    color: #767676;
    border-radius: 5px 15px 5px 15px;
    font-size: 24px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
    margin: auto 0 15px 0;
    padding: 5px;
}
.projects article {
    height: 400px;
    width: 300px;
    padding: 5px;
    margin: 15px 5px;
    border: 2px solid skyblue;
    border-radius: 15px;
    flex-wrap: wrap;
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.5);
    background: rgba(118, 118, 118, 0.8);
}
.projects article:hover {
    border: 2px solid red;
}
.projects a:nth-child(2) article {
    background-image: url("../images/lego.png");
    background-size: 300px;
}
.projects a:nth-child(3) article {
    background-image: url("../images/run-buddy.png");
    background-size: cover;
}
.primary-card article{
    height: 400px;
    width: 610px;
    background-image: url("../images/current.png");
    background-size: 610px;
}

/* Contact Me Styling */
.contact-me ul {
    align-items: center;
}
.contact-me a {
    margin: 15px 50px;
    padding: 7px;
    background-color: rgba(135, 206, 235, 0.7);
    color: #767676;
    border-radius: 10px;
    font-size: 32px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
}
.contact-me a:hover {
    background-color: skyblue;
}



/* Footer Styling */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #767676;
    width: 100%;
    border-top: 2px solid skyblue;
}
footer h3 {
    color: skyblue;
    margin: 0;
    padding: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.5);
    border-right: 5px solid skyblue;
}

/* This is the styling applied for various screen sizes */
@media screen and (max-width: 1184px) {
    .about-me p {
        width: 330px;
    }
}

@media screen and (max-width: 880px) {
    header nav ul li a {
        font-size: 20px;
    }
    .section-title {
        width: 82%;
    }
    .last-section-title {
        margin-bottom: 15px;
    }
    .content-back {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 722px) {
    header nav ul li a {
        font-size: 16px;
    }
}